/* RainbowButton.css */

.rainbow-button-wrapper {
    display: inline-block;
    border-radius: 25px;
    padding: 3px; /* Adjust padding to account for border */
    background: none; /* Remove background from wrapper */
    position: relative; /* Ensure the background can be positioned */
    overflow: hidden; /* Ensure child elements don't overflow the wrapper */
}

.rainbow-background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 25px;
    background: url('../../assets/svg/rainbowbuttonBackground.svg') no-repeat center center;
    background-size: cover;
    z-index: 0; /* Place the background behind the button */
    transition: opacity 0.3s ease;
}

.rainbow-button {
    background: transparent;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
    font-family: Arial, sans-serif;
    border: none; /* Remove the default border */
    position: relative;
    z-index: 1; /* Ensure the button content is above the background */
    display: inline-block;
    text-align: center;
    background-clip: padding-box; /* Ensure background is clipped to padding box */
}

.rainbow-button-wrapper.clicked .rainbow-background {
    opacity: 0; /* Hide the background when clicked */
}

.rainbow-button:hover {
    background: rgba(255, 255, 255, 0.1);
}

.rainbow-button:active {
    background: rgba(255, 255, 255, 0.2);
}
